<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kachow</title>
    <link rel="stylesheet" href="../static/app.css" />
</head>

<body>
    <div class="header">
        <div class="header_left">
            <h1 class="header_title">  
                Title
            </h1>
        </div>
        <div class="header_right">

        </div>
    </div>


    <div class="split_screen">
        <div class="left_side">

            <div class="input_box">
                <h2 class="text_box url_text">
                    Input a URL of an Article
                </h2>
                <form action="upload" method="post" enctype="multipart/form-data" class="url_form_input">
                    <input type="text" id="url" name="url" placeholder="enter website URL"><br>
                </form>
            </div>
            <div class="source_box judging_box">
                <div class="source_icon">
                    bruh what
                </div>
                <div class="source_text_box">
                    bruh how
                </div>
            </div>
            <div class="bias_box judging_box">
                <p>Bias Rating</p>
                <div class="slider">

                </div>
            </div>
            <div class="political_box judging_box">
                <p>Politically Leaning</p>
                <div class="slider">

                </div>
            </div>
        </div>

        <div class="right_side">
            
            <article class="output_box">

                <h3 class="article text_box title">
                    title (*******************************)
                </h3>

                <h4 class="article text_box author">
                    author (*******************************)
                </h4>

                <p class="article text_box contents">
                    contents (**********************************************************************************************************************************************************************************************************************************************************************************)
                </p>
            </article>
        </div>
    </div>
</body>
</html>