<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kachow</title>
    <link rel="stylesheet" href="../static/app.css" />
</head>

<body>
    <div class="header">
        <div class="header_left">
            <h1 class="header_title">  
                Kachow
            </h1>
        </div>
        <div class="header_right">

        </div>
    </div>


    <div class="split_screen">
        <div class="left_side">
            <div class="side_bar">
                
                <div class="input_box">
                    <h2 class="text_box url_text">
                        Input a URL of an Article
                    </h2>
                    <form action="upload" method="post" enctype="multipart/form-data" class="url_form_input">
                        <input type="text" id="url" name="url" placeholder="enter website URL"><br>
                    </form>
                </div>

                <div class="divider"></div>

                <div class= "judging_box source">
                    <img src="" alt="Source Icon">
                    <div class="judging_text_box source_text_box">
                        <p>Source Text</p>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="judging_box bias">
                    <div class="judging_text_box">
                        <p>Likelihood of Bias</p>
                    </div>
                    <div class="slider_wrapper">
                        <input type="range" min="0" max="100" value={{bias_value}} id="slider" disabled>
                        <div class="slider_labels">
                            <span>0%</span>
                            <span>100%</span>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="judging_box political">
                    <div class="judging_text_box">
                        <p>Politically Leaning</p>
                    </div>
                    <div class="slider_wrapper political">
                        <input type="range" min="0" max="100" value={{political_value}} id="slider" disabled>
                        <div class="slider_labels">
                            <span>Left</span>
                            <span>Right</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right_side">
            
            <article class="output_box">

                <h3 class="article text_box title">
                    This is the title, please enjoy it
                </h3>

                <h4 class="article text_box author">
                    The author will go here
                </h4>

                <p class="article text_box contents">
                    text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
                </p>
            </article>
        </div>
    </div>
</body>
</html>