<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kachow</title>
    <link rel="stylesheet" href="../static/app.css" />
</head>

<body>
    <div class="header">
        <div class="header_left">
            <div class="title">  
                Kachow
            </div>
        </div>
        <div class="header_right">

        </div>
    </div>


    <div class="split_screen">
        <div class="left_side">
            
        </div>

        <div class="right_side">
            <div class="input_box">
                <form action="upload" method="post" enctype="multipart/form-data" class="url_input">
                    <input type="text" id="url" name="url" placeholder="enter website URL"><br>
                </form>
            </div>
            <div class="result_box">

            </div>
        </div>
    </div>
</body>
</html>